@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200..1000&display=swap');
@import "tailwindcss";

@theme {
  --font-nunito: "Nunito", sans-serif;
}

body {
  font-family: "Nunito", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

P {
  margin-bottom: 0PX !important;
}